<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

      body {
        font-family: 'Mulish', sans-serif;
        color: #2a2a2a;
      }

      #capa {
        height: 1427px;
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        border: 1px solid black;
      }

      #capa div {
        -webkit-box: center;
      }

      .nt-title, .title, #data {
        text-align: center;
      }

      .nt-title {
        margin-top: 30%;
        font-size: 40px;
      }

      .title {
        width: 70%;
        margin: 0 auto;
        text-align: center;
      }

      .sub-title {
        text-align: center;
      }

      #content {
        margin: 10px 30px;
      }

      table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
      }

      th, td {
        border: 1px solid #ccc;
        text-align: center;
        margin: 0;
        padding: 10px 0;
      }

      th {
        font-size: 16px;
      }

      td {
        font-size: 16px;
      }
      
      .card {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        width: 90%;
        padding: 30px 40px;
        margin: 0 auto;
        border-radius: 8px;  
        background-color: #fafafa;
        
      }

      .row {
        display: -webkit-box;
        margin: 20px 0;
      }

      .contagens {
        -webkit-box-pack: center;
      }

      .item:first-child, .item-medium, .item-large:first-child {
        margin-left: 0;
      }

      .item, .item-medium, .item-large, .item-produto {
        width: 115px;
        margin: 0 30px;
        text-align: center;
      }

      .item-produto {
        width: 120px;
        text-align: left;
      }

      .item-medium {
        width: 250px;
        text-align: left;
      }

      .item-large {
        width: 350px;
      }

      .hr {
        margin: 1px 0;
      }

      .page-break { 
        display:block;
        clear:both;
        page-break-after:always;
      }
    </style>
  </head>
  <body>
    <div id="capa">
      <div>
        <h1 class="nt-title">NT Consulting</h1>
      
        <h1 class="title">Relatório do Inventário físico de estoque da empresa "<%= (count.company.fantasy_name.size > 100)? "#{count.company.fantasy_name[0..115]}..." : count.company.fantasy_name  %>".</h1>

        <h3 id="data" class="data"><%= count.date.strftime("%d/%m/%Y") %>, Fortaleza - CE</h3>
        </h3>
      </div>
    </div>

    <div class="page-break"></div>

    <div id="content">
      <div class="hr">
        <hr>
      </div>

      <h1 class="sub-title">Itens contados </h1>
      <% value_pre_count = 0 %>
      <% value_pos_count = 0 %>
      <% quantity_pre_count = 0 %>
      <% quantity_pos_count = 0 %>
      <% count.counts_products.each do |cp| %>
        <div class="card">
          <h2><%= cp.product.code %> - <%= cp.product.description %></h2>
          <div class="row">
            <div class="item-produto">
              <h3>Valor unitário</h3> R$ <%= (cp.product.value.gsub! '.',',') %>
            </div>  
            
            <div class="item-produto">
              <h3>Estoque</h3> <%= cp.product.current_stock %>
            </div>
            
            <div class="item-produto">
              <h3>Valor total</h3> R$ <%= (cp.total_value.gsub! '.',',') %>
            </div>
          </div>
          
          <br>
          <hr class="hr">
          <br>
          
          <h2>Localizações</h2>
          <div class="row">
            <div class="item">
              <h3>Rua</h3>
            </div>  
            
            <div class="item">
              <h3>Prateleira</h3>
            </div>
            
            <div class="item">
              <h3>Estante</h3>
            </div>
          </div>
          
          <% cp.product.location["locations"].each do |location| %>
            <div class="row">
              <div class="item">
                <%= location["street"] %>
              </div>
              
              <div class="item">
                <%= location["stand"] %>
              </div>
              
              <div class="item">
                <%= location["shelf"] %>
              </div>
            </div>
          <% end %>
          
          <br>
          <hr class="hr">
          <br>

          <h2>Contagens</h2>
          <div class="row">
            <div class="item">
              <h3>1° contagem</h3> <%= cp.results.order(:order)[0].blank?? '-' : cp.results.order(:order)[0].quantity_found %>
            </div>  

            <div class="item">
              <h3>2° contagem</h3> <%= cp.results.order(:order)[1].blank?? '-' : cp.results.order(:order)[1].quantity_found %>
            </div>

            <div class="item">
              <h3>3° contagem</h3> <%= cp.results.order(:order)[2].blank?? '-' : cp.results.order(:order)[2].quantity_found %>
            </div>  

            <div class="item">
              <h3>4° contagem</h3> <%= cp.results.order(:order)[3].blank?? '-' : cp.results.order(:order)[3].quantity_found %>
            </div>

            <div class="item">
              <h3>Divergência</h3> <%= cp.percentage_result_value %>%
            </div> 
          </div>
        </div>

        <br>
      <% end %>

      <br>

      <div class="card">
        <h2>Resultado final da contagem</h2>
        <div class="row">
          <div class="item-medium">
            <h3>Valor inicial inventário</h3> R$ <%= (count.initial_value.gsub! '.',',') %>
          </div>  
          
          <div class="item-medium">
            <h3>Valor final inventário</h3> R$ <%= (count.final_value.gsub! '.',',') %>
          </div>
          
          <div class="item-medium">
            <h3>Acuracidade</h3> <%= count.accuracy %>%
          </div>
        </div>
      </div> 

      <br>

      <div class="card">
        <h2>Informações por operador</h2>
        <div class="row">
          <div class="item-large">
            <h3>Nome</h3>
          </div>  
          
          <div class="item-large">
            <h3>Quantidade de itens</h3>
          </div>
        </div>
        
        <!--  Loop nessa div abaixo  -->
        <% count.employees.each do |employee| %>
          <div class="row">
            <div class="item-large">
              <%= employee.name %>
            </div>
            
            <div class="item-large">
              <%= employee.counted_products(count.id) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
