<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
  </head>
  <body onload='number_pages'>
    <div id="header">
      <%= wicked_pdf_image_tag 'mysite.jpg' %>
    </div>
    <div id="content">
      <h3>Cliente: <%=count.client.fantasy_name%></h3>
      <h3>Data: <%=count.date%>

      <table border=1 style="width:100%;">
        <tr>
          <th>Cod</th>
          <th>Descrição</th>
          <th>Valor(R$)</th>
          <th>Estoque</th>
          <th>1º Resultado</th>
          <th>2º Resultado</th>
          <th>3º Resultado</th>
          <th>4º Resultado</th>
          <th>Divergência(%)</th>
        </tr>
        <% value_pre_count = 0 %>
        <% value_pos_count = 0 %>
        <% quantity_pre_count = 0 %>
        <% quantity_pos_count = 0 %>
        <% count.counts_products.each do |cp| %>
          <td><%= cp.product.code %></td>
          <td><%= cp.product.description %></td>
          <td><%= cp.product.value %></td>
          <td><%= cp.product.current_stock %></td>
          <td><%= cp.results[0].blank?? '-' : cp.results[0].quantity_found %></td>
          <td><%= cp.results[1].blank?? '-' : cp.results[1].quantity_found %></td>
          <td><%= cp.results[2].blank?? '-' : cp.results[2].quantity_found %></td>
          <td><%= cp.results[3].blank?? '-' : cp.results[3].quantity_found %></td>
          <% quantity_found = 0 %>
          <% if !cp.results[3].blank? %>
            <% quantity_found += cp.results[3].quantity_found %>
          <% elsif !cp.results[2].blank? %>
            <% quantity_found += cp.results[2].quantity_found %>
          <% else %>
            <% quantity_found += cp.results[1].quantity_found %>
          <%end%>
          <% value_pre_count += cp.product.value * cp.product.current_stock %>
          <% value_pos_count += cp.product.value * quantity_found %>
          <% quantity_pre_count += cp.product.current_stock %>
          <% quantity_pos_count += quantity_found %>
          <td><%= 100 - ((quantity_found*100)/cp.product.current_stock) %></td>
        <% end %>
      </table>
      <h3>Valor em estoque antes da contagem: R$<%= value_pre_count %> </h3>
      <h3>Valor em estoque após a contagem: R$<%= value_pos_count %> </h3>
      <h3>Divergência total: <%= 100 - ((quantity_pos_count*100)/quantity_pre_count) %>% </h3>
    </div>
  </body>
</html>
